
@import "variables";

header {
    background-color: $primary-color;
.nav-link {
    color: $secundary-color;
    &:hover {
    color:#FFF
}
}

.navbar-brand {
      width: 100px;} 
      
.iconos img{
        width: 36px;
        padding-right: 12px;}
}

@media (min-width: 300px) {
    .paginas {
        display: flex;
         flex-direction: column;

    }
}

@media (min-width: 1024px) {
.paginas {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
}