@import "mixin";
@import "variables";

body {
    font-family: $font;
    p {
    font-family: $font;
    display: block;
    margin: 0 auto;
    }
    h1{
     color: #FFF;
    display: grid;
    align-items:center;
    font-weight: 700;

    }
    h2 {
    text-align: center;
    font-family: $font;
    padding: 15px;
    font-weight: 800;
    color: $secundary-color;
}
section {
    padding: 35px;
}
}

.beneficios {
    @include beneficios-flex;
    margin: 30px;
    border-radius: 15px;;
    img {
    height: 35px;
    padding-right: 10px;
}


}




/*sección lo más vendido*/
.galeria-productos {
    display: grid;
    text-align: center;
img {
    width: 100%;
}
    .producto {
    border-radius: 12px;
    background-color: #FFF;
    padding: 15px;
    box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
    .boton {
    @include button (small);
     &:hover{
        background-color:$secundary-color;
      }
    }

 }
}

/* blog*/
.blog {
    background-color: #e0f0f4;

    figure {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: $font;
    font-weight: 700;
}
img {
width: 80%;
border-radius: 15px;
cursor: pointer;
&:hover {
    transform: scale(1.1);
}
}

}
/*newsletter*/
.newsletter {
    display: flex;
    justify-content: center;
    background-color: #f16d5e;
    padding: 0px;

   .boton-suscribir {
      @include button(medium);
      animation:bounce 1s ease-in-out infinite;
      &:hover{
        background-color:#fff;
        color:#f16d5e;
      }
    }
    input
{border-radius: 5px;
padding: 05px;
border:none;
width: 300px;
}
}



/*Gatos-Perros*/
.portada {
    background-color: #a283eb;
    font-family: tahoma;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

/*Tiendas*/
.sedes-div {
    figure {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 08px;
    font-weight: 700;
    p{
    font-weight: 400;}
}
img {
width: 25%;
border-radius: 15px;
cursor: pointer;
&:hover {
    transform: scale(1.1);}
}
}

/*Gracias por su compra*/
.seccion-gracias {
    display: flex;
    justify-content: center;
.contenedor-gracias{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8ecef;
    width: 60%;
    text-align: center;
     box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 100px 15px;
        img{
            width: 200px;
        }
}
}

