@import "mixin";
@import "variables";



/*CELULARES*/
@media (min-width: 300px) {
footer {
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px}
   
    .contenedor-inferior {
    display: flex;
     flex-direction: column-reverse;
    padding: 20px;
} 
.libro-reclamaciones {
    width: 30%;
}

/*sección lo más vendido*/
    .galeria-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    }
    .boton {
    @include button (12px);
    }



/* blog*/
 
    .blog-div {
    @include flex-phone

}

/*Newsletter*/
    .imagen-newsletter {
        display: none;
    }
.texto-newsletter{
    @include flex-phone;
    color: #fff;

}

/*Página perros - gatos*/
.portada img {
    height: 150px;
}
h1 {
    font-size: large;

}

/*Tiendas*/
.sedes-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px
}

/*registro*/
    .animacion-huellas {
    display: none;
} 



/* Carrito*/
   .carrito {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
   gap: 20px;
    img {
        width: 40%;
    }

    .producto-final {
        display: flex;
        flex-direction: column;
        p{
            margin-left: 0px;
        }
        }
}


/* página-otras mascotas*/
.otros-portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 15px;}

/*Página - Ofertas */
.contenedor-oferta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
    img {
        width: 100%;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
}



/*COMPUTADORA*/

/*Footer*/
@media (min-width: 1024px) {
    footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px;
    grid-template-areas: 
    "footer1 footer1 footer1 footer1"
    "derechos derechos redes redes";
    text-align: justify;
    align-items: start;
    padding-top: 30px;
    }

.libro-reclamaciones {
    width: 45%;
    padding-left: 30px;
}

.redes-sociales {
    grid-area: redes;
    grid-column: 4/4;
    display: flex;
    justify-content: right;

 }

/*sección lo más vendido*/
.galeria-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
    padding: 30px;
    }



/* blog*/
    .blog-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}


/*newsletter*/
.newsletter-container {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 80%;

p{
    color: #fff;
}}
.imagen-newsletter {
        display:flex;
    }


/*Página perros-gatos*/
.portada img {
    height: 300px;
}
h1 {
    font-size: xx-large
}

/*Tiendas*/
.sedes-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
}
/*Registro*/
.animacion-huellas {
    display:inline;
} 




/* Carrito*/
   .carrito {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
    img {
        width: 25%;
    }
    .producto-final {
        display: flex;
        flex-direction: row;
        align-items: center;
        }


}


/* página-otras mascotas*/
.otros-portada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 15px;
    gap: 15px;}


/*Página - Ofertas */
.contenedor-oferta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    img {
        width: 100%;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
}