@import "variables";

.portada-oferta {
    background-color:#f16d5e ;
    color: #fff;
    font-family: tahoma;
    display: flex;
    align-items: center;
    justify-content: center;
 img {
    width: 25%;
}
}
