@charset "UTF-8";
header {
  background-color: #ecd7bc;
}

header .nav-link {
  color: #CC9933;
}

header .nav-link:hover {
  color: #FFF;
}

header .navbar-brand {
  width: 100px;
}

header .iconos img {
  width: 36px;
  padding-right: 12px;
}

@media (min-width: 300px) {
  .paginas {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .paginas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
body {
  font-family: "arial";
}

body p {
  font-family: "arial";
  display: block;
  margin: 0 auto;
}

body h1 {
  color: #FFF;
  display: grid;
  align-items: center;
  font-weight: 700;
}

body h2 {
  text-align: center;
  font-family: "arial";
  padding: 15px;
  font-weight: 800;
  color: #CC9933;
}

body section {
  padding: 30px;
}

.beneficios {
  background-color: #ecd7bc;
  border-radius: 0px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 30px;
  border-radius: 15px;
}

.beneficios img {
  height: 35px;
  padding-right: 10px;
}

.beneficios figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

/*sección lo más vendido*/
.galeria-productos {
  display: grid;
  text-align: center;
}

.galeria-productos img {
  width: 100%;
}

.galeria-productos .producto {
  border-radius: 12px;
  background-color: #FFF;
  padding: 15px;
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
}

.galeria-productos .producto .boton {
  font-size: small;
  background: #fcc46f;
  font-family: "arial";
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 15px;
  cursor: pointer;
}

.galeria-productos .producto .boton:hover {
  background-color: #CC9933;
}

/* blog*/
.blog {
  background-color: #e0f0f4;
}

.blog figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "arial";
  font-weight: 700;
}

.blog img {
  width: 80%;
  border-radius: 15px;
  cursor: pointer;
}

.blog img:hover {
  transform: scale(1.1);
}

/*newsletter*/
.newsletter {
  display: flex;
  justify-content: center;
  background-color: #f16d5e;
  padding: 0px;
}

.newsletter .boton-suscribir {
  font-size: medium;
  background: #fcc46f;
  font-family: "arial";
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 15px;
  cursor: pointer;
  animation: bounce 1s ease-in-out infinite;
}

.newsletter .boton-suscribir:hover {
  background-color: #fff;
  color: #f16d5e;
}

.newsletter input {
  border-radius: 5px;
  padding: 5px;
  border: none;
  width: 300px;
}

/*Gatos-Perros*/
.portada {
  background-color: #a283eb;
  font-family: tahoma;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

/*Tiendas*/
.sedes-div figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.sedes-div figure p {
  font-weight: 400;
}

.sedes-div img {
  width: 25%;
  border-radius: 15px;
  cursor: pointer;
}

.sedes-div img:hover {
  transform: scale(1.1);
}

/*Gracias por su compra*/
.seccion-gracias {
  display: flex;
  justify-content: center;
}

.seccion-gracias .contenedor-gracias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8ecef;
  width: 60%;
  text-align: center;
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 100px 15px;
}

.seccion-gracias .contenedor-gracias img {
  width: 200px;
}

/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ded6f1, #ecebed);
}

.formulario h2 {
  color: #fff;
}

.formulario form {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-family: "arial";
  background-color: #fcc46f;
  color: #a4670a;
  padding: 35px;
  border-radius: 25px;
  gap: 5px;
}

.formulario .checkbox {
  display: flex;
  gap: 10px;
}

.formulario input {
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.formulario input:hover {
  background-color: #fae882;
}

.formulario [type=submit] {
  font-size: medium;
  background: #fcc46f;
  font-family: "arial";
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 15px;
  cursor: pointer;
  background-color: #CC9933;
}

.animacion-huellas {
  width: 20%;
}

.animacion-huellas img {
  width: 35%;
  padding-left: 50px;
}

.animacion-huellas .izquierda {
  animation: fade 9s infinite, mover 9s steps(5) infinite;
  animation-delay: 0s;
}

.animacion-huellas .derecha {
  animation: fade 9s infinite, mover 9s steps(5) infinite;
  animation-delay: 1s;
}

.animacion-huellas .izquierda2 {
  animation: fade 9s infinite, mover 9s steps(5) infinite;
  animation-delay: 1.5s;
}

.animacion-huellas .derecha2 {
  animation: fade 9s infinite, mover 9s steps(5) infinite;
  animation-delay: 2s;
}

/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
/*CELULARES*/
@media (min-width: 300px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }
  .contenedor-inferior {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .libro-reclamaciones {
    width: 30%;
  }
  /*sección lo más vendido*/
  .galeria-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
  .boton {
    font-size: 12px;
    background: #fcc46f;
    font-family: "arial";
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 15px;
    cursor: pointer;
  }
  /* blog*/
  .blog-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  /*Newsletter*/
  .imagen-newsletter {
    display: none;
  }
  .texto-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  /*Página perros - gatos*/
  .portada img {
    height: 150px;
  }
  h1 {
    font-size: large;
  }
  /*Tiendas*/
  .sedes-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }
  /*registro*/
  .animacion-huellas {
    display: none;
  }
  /* Carrito*/
  .carrito {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  .carrito img {
    width: 40%;
  }
  .carrito .producto-final {
    display: flex;
    flex-direction: column;
  }
  .carrito .producto-final p {
    margin-left: 0px;
  }
  /* página-otras mascotas*/
  .otros-portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 15px;
  }
  /*Página - Ofertas */
  .contenedor-oferta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .contenedor-oferta img {
    width: 100%;
  }
  .contenedor-oferta div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*COMPUTADORA*/
/*Footer*/
@media (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px;
    grid-template-areas: "footer1 footer1 footer1 footer1" "derechos derechos redes redes";
    text-align: justify;
    align-items: start;
    padding-top: 30px;
  }
  .libro-reclamaciones {
    width: 45%;
    padding-left: 30px;
  }
  .redes-sociales {
    grid-area: redes;
    grid-column: 4/4;
    display: flex;
    justify-content: right;
  }
  /*sección lo más vendido*/
  .galeria-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
    padding: 30px;
  }
  /* blog*/
  .blog-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
  }
  /*newsletter*/
  .newsletter-container {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 80%;
  }
  .newsletter-container p {
    color: #fff;
  }
  .imagen-newsletter {
    display: flex;
  }
  /*Página perros-gatos*/
  .portada img {
    height: 300px;
  }
  h1 {
    font-size: xx-large;
  }
  /*Tiendas*/
  .sedes-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
  }
  /*Registro*/
  .animacion-huellas {
    display: inline;
  }
  /* Carrito*/
  .carrito {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
  }
  .carrito img {
    width: 25%;
  }
  .carrito .producto-final {
    display: flex;
    flex-direction: column;
  }
  /* página-otras mascotas*/
  .otros-portada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 15px;
    gap: 15px;
  }
  /*Página - Ofertas */
  .contenedor-oferta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }
  .contenedor-oferta img {
    width: 100%;
  }
  .contenedor-oferta div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*Botón Newsletter-inddex */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
/*Registro */
@keyframes fade {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mover {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(300px) translateY(-300px);
  }
}
/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
footer {
  background-color: #ecd7bc;
  font-family: "arial";
  padding: 40px 15px 15px 15px;
}

footer .logo-pie {
  width: 250px;
  padding: 30px;
}

footer .redes-sociales img {
  width: 32px;
  margin-inline: 5px;
  justify-content: center;
}

.otros-portada div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.otros-portada p {
  font-family: tahoma;
  font-weight: 700;
}

.otros-portada img {
  width: 40%;
}

.peces-div {
  background-color: #dca865;
}

.hamsters-div {
  background-color: #fcc46f;
}

.aves-div {
  background-color: #f0c2cf;
}

.conejos-div {
  background-color: #f3f581;
}

.portada-oferta {
  background-color: #f16d5e;
  color: #fff;
  font-family: tahoma;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portada-oferta img {
  width: 25%;
}

/*Sección-beneficios-inicio*/
/*botones*/
/*características flex para celular */
.producto-tarjeta {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
}

.descripcion {
  display: flex;
  align-items: center;
}

.divboton {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(165, 164, 164);
}

.nombre-product {
  font-weight: 700;
}

.resumen {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.resumen button {
  font-size: medium;
  background: #fcc46f;
  font-family: "arial";
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-inline: 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 8px;
}

.resumen button:hover {
  background-color: #f16d5e;
}

.resumen p {
  margin-left: 0px;
}

.mensaje-vacio {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.boton-eliminar {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: #9b9a99;
}



/*# sourceMappingURL=style.scss.map */
